body{
    background-color: rgb(248, 196, 113);
}
body nav button{
    width: 150px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
}
body nav button a{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}
section h1{
    text-align: center;
    color: rgb(168, 11, 11);
    text-decoration: underline;
}
section{
    margin: auto;
    width: 70%;
}
section p{
    font-size: 20px;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
}
.image{
    text-align: center;
}
.image img{
    width: 500px;
    height: 400px;
}
.video{
    width: 640px;
    height: 480px;
    margin: auto;
  }
  .video video{
    box-shadow: 0px 0px 30px red;
  }